@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    align-content: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: larger;
    background-color: #666565;
}
h2{
    font-family: 'Tomorrow', sans-serif;
    font-weight: 100;
}
p, a, li {
    line-height: 1.5em;
    font-size: large;
    font-weight: 400;
}