@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
body {
    font-family: 'Philosopher', sans-serif;
    font-size: larger;
    margin: 0;
    background-color: #272626;
}
main {
    padding-right: 10vw;
    padding-left: 10vw;
}
h1,p {
    font-family: 'Philosopher', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center ;
}
p{
    font-size: 20px;
    color: #7a7878;
}
h1{
    font-size: 50px;
    color: #6d1a17;
}
h2{
    font-size: 22px;
    color:rgb(165, 162, 162);
    text-align: center;
}
.navbar {
    padding: 20px;
    font-size: 23px;
    background-color: #313030;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: rgb(100, 98, 99);
    text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

.navbar a{
    margin-right: 15px;
}
.picture{
display: block;
  margin-left: auto;
  margin-right: auto;
  width:65%;
  padding-bottom: 30px;
  padding-top: 20px;
}

.photo-section img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #6c6b6b;
}
.photo-section2 img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid #6c6b6b;

}